<ul class="main-navigation">
  {% comment %}<li><a href="{{ root_url }}/YOUR_PAGE_HERE/index.html">YOUR_PAGE_HERE</a></li>{% endcomment %}
  <li><a href="/about-us/index.html">About Us</a></li>
  <li><a href="/events/index.html">Events</a></li>
  <li><a href="/outreach/index.html">Outreach</a></li>
  <li><a href="/research/index.html">Reseach</a></li>
  <li><a href="/journal-club/index.html">Journal Club</a></li>
  <li><a href="/residency-club/index.html">Residency Club</a></li>
  <li><a href="/photogallery/index.html">Photos</a></li> </ul>
</ul>
